<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div id="sidebar">
        <ul>
            <%- chats%>
        </ul>
        <a href="/newChat" id="newChat">Start new chat</a>
    </div>
    <div id="chatWindow">
        <ul id="messages">
            <%- messages%>
        </ul>
        <form action="" id="chatForm">
            <input id="m" autocomplete="off" />
            <button>Send</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const chat = "<%= chat%>";
        var socket = io({
            query: `auth=${document.cookie.replace(/(?:(?:^|.*;\s*)auth\s*\=\s*([^;]*).*$)|^.*$/, "$1")}&chat=${chat}`
        });
        const input = document.getElementById("m");
        const messages = document.getElementById("messages");
        document.getElementById("chatForm").addEventListener("submit", (e) => {
            e.preventDefault();
            socket.emit("chat message", input.value);
            messages.innerHTML = messages.innerHTML +
                `<li><spand class="message">${input.value}</span><br>
                <span class="from">from you</span></li>`;
            input.value = "";
            return false;
        });
        socket.on("chat message", (msg) => {
            const data = JSON.parse(msg);
            messages.innerHTML = messages.innerHTML +
                `<li><spand class="message">${data.msg}</span><br>
                <span class="from">from ${data.username}</span></li>`;
        });
    </script>
</body>

</html>