<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Start new chat</title>
</head>

<body>
    <form action="/startChat/<%-name%>" method="POST">
        <input type="text" placeholder="Chat name" name="chatName">
        <select name="withUsername">
            <%-options%>
        </select>
        <input type="submit" value="Create chat">
    </form>
</body>

</html>